#comletedCount {
    background-color: chartreuse;
}
#toDoCount {
    background-color: red;
}

.contacts{
    position: relative;
}

.contacts_none {
    display: none;
    position: relative;
}

.contacts__input{
    color:rgb(0, 0, 0);
}

.contacts__text{
    font-size: 15px;
    font-family: "Raleway";
    color: rgba(255, 255, 255, 0.702);
    line-height: 1.6;
    padding: 31px 0px 65px 32px;
    margin-bottom: 9px;
}

.show-edit-modal {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: space-between;
    position: absolute;
    right: 475px;
    z-index:37;
}

.none-edit-modal {
    display: none;
    position: relative;
}

.main-container{
    position:absolute;
    z-index:36;
}

.darkening-background{
    background: rgba(173, 172, 172, 0.8);
    z-index:36;
}

.canсel {
    margin-left: 60px;
}

.contacts__input-priority {
    width: 100%;
}

.contacts__input-date {
    width: 100%;
}

.contacts__input-color {
    width: 100%;
}

.dark {
    border: 10px;
    border-radius: 8px;
    margin-bottom: 5px;
    background-color:rgb(41, 36, 36);
    color: white;
}

.light {
    border: 10px;
    border-radius: 8px;
    margin-bottom: 5px;
    background-color:rgb(250, 246, 246);
    color: black;
}

.default {
    border: 10px;
    border-radius: 8px;
    margin-left: 20px;
}

.darkThemeBody {
    background-color:rgba(17, 16, 16, 0.7)
}


.lightThemeBody {
    background-color:rgba(226, 226, 226, 0.7)
}

.darkThemeHead {
    background-color:rgba(17, 16, 16, 0.3)
}


.lightThemeHead {
    background-color:rgba(223, 219, 219, 0.3)
}

.defaultThemeHeader {
   background-color: #f8f9fa;
}